.header {
  background-color: white;
  text-align: center;
  padding: 20px;
  
}

.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.column {
  float: left;
  width: 50%;
  margin-left:5%;
    
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

#cimkep
{
  width:300px;
  height:300px;
  margin-top:20px;
  margin-left:200px;
  border-radius:60px;
  position: relative;
  left: -160px;
  
}

#prodnum
{
	text-align: right;
	position: relative;
	left:-50px;
	font-size:20px;
}

.alap
{ 
  display: inline-block;
  text-decoration: none; 
  text-align: left; 
  font-size: 24px;
  line-height: 1.42857143; 
  padding: 20px 12px; 
  margin-bottom: 10px;
  border: 20px solid transparent;
  border-radius: 4px; 
  white-space: nowrap; 
  vertical-align: middle; 
  position: relative;
  left: 330px;
  
}

#nev
{
 position: relative;
 left: 39px;
 bottom: -20px;
  margin-top:10px;
  font-size: 20px;
  color: black;
}

#kep
{
position: relative;
bottom: -50px;

border-radius: 10px;
}

#leiras
{
position: relative;
left: 730px;
text-align: left;
bottom:340px;
line-height: 160%;
margin-bottom: 4px;
color: black;
font-size:20px;
	
}

#ar
{
position: relative;
font-size: 24px;
bottom: 300px;
left: 730px;
color: green;
}

button
{
position: relative;
bottom: 320px;
left: 1150px;
background-color: grey;	
}

#db
{
position: relative;
bottom: 320px;
left: 1150px;
background-color: black;
color: rgb(255, 224, 179);	
}

ul
{
position: relative;
bottom: 80px;
text-align: left;
left:10%;
line-height: 160%;
font-size: 24px;

}

#rendel
{
position: relative;
background-color: grey;
left: 10%;
bottom:50px;
font-size: 20px;
}

table
{
position: relative;
bottom: -94px;
left: 700px;
text-align: center;
font-size: 24px;
}

table, td, th, tbody, tr
{
border: solid 1px;
border-color:black;
padding: 3px;
}

input
{
	color: black;
}

#address, #email, #name, #phone
{
	width:50%;
}


